:root {
  font-family: 'JetBrains Mono', Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #202020;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
